
.play-container{
    background: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 7px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  
  @media (max-width: 900px){
  .play-container{
    padding-left: 5%;
    padding-right: 5%;
  }
  
  }